.hight p{
    color: blueviolet;
}


body, html {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

.main {
    background: white;
    align-content: center;
    height: 100%;
}

/*#password_repeat{*/
/*    margin-bottom: 15px;*/
/*}*/

.content_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: fit-content;
    padding: 75px;

}

.button, a{
    border: none;
    color: white;
    background-color: #5869e0;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

.button:hover, a:active {
    background-color: #495ce0;
    color: white;
}

.conteiner_box {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.button_main a{
    color: black;
    display: inline-block;
    border-radius: 10px;
    padding: 5px 10px;
    align-items: center;
    background: #d7e1ee;
    text-decoration: none;

}

.button_main:hover, a:active {
    background-color: #b9d1f3;
    color: black;
}


.button_up input{
    border: transparent;
    color: black;
    display: inline-block;
    border-radius: 10px;
    padding: 5px 10px;
    align-items: center;
    background: #8fe3d7;
    text-decoration: none;
}

.button_user{
    border: transparent;
    color: black;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 10px;
    background: #8fe3d7;
    font-size: 0.9em;
}

.button_user:hover, a:active {
    background-color: #68a69d;
    color: black;
}


#main_page .content_box{
    width: 800px;
}


.blue_box {
    background: skyblue;
    border-radius: 20px;
}

.flex_container {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 10px;
}

.main_image {
    order: 2;
    width: 50%;
}



.main_text h1 {
    text-align: center;
    font-size: 60px;
}

.main_text h2 {
    text-align: center;
    font-size: 40px;
}


.signup_form {
    width: 50%;
}

.signup_picture {
    width: 50%;
    order: 2;
}

.form_group {
    position: relative;
    margin-bottom: 20px;
}

.form_group i {
    width: 15px;
}

.picture_label {
    display: block;
    margin-bottom: 10px;
}



input[type=text], input[type=password] {
    width: auto;
    padding: 5px;
    display: inline-block;
    border: none;
    background: white;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.user_page {
    display: flex;
    flex-direction: column;
}

.user_header{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    align-items: center;
}



.page_list {
    display: flex;
    justify-content: center;
}

.end {
    display: flex;
    justify-content: flex-end;
}

/* note */

.user_notes{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: auto;
    justify-content: space-around;
    gap: 20px;
}

.end{
    position: relative;
    right: 10px;
}
.button_up{
    position: relative;
    right: 10px;
}







.edit_form{
    width: auto ;
    display: flex;
    flex-direction: column;
    background: transparent;
}

.edit_form input[type = text]{
    background-color: transparent;
}

.edit_form .title{
    background: transparent;
    border: none;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-weight: bold;
}


.edit_form .text{
    background: transparent;
    border: none;
    all: unset;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    padding: 5px;
    /*margin-block-end: 0.83em;*/
}

.edit_form h2 input{
    width: fit-content;
    height: auto;
    background: transparent;
    border: none;
}

.sticky_note{
    position: relative;
    width: auto ;
    min-height: 250px;
    display: block;
    /*background: #f1f172;*/
    /*background: #c168e3;*/
    /*box-shadow: 10px 5px 5px #777676;*/
}

.sticky{
    position: relative;
    width: auto ;
    min-height: 250px;
    display: block;
    /*background: #f1f172;*/
    /*background: #c168e3;*/
    box-shadow: 10px 5px 5px #777676;
}

 .sticky:nth-child(3n + 1) {
    background-color: #f1f172; /* 1,4,7 */
}
 .sticky:nth-child(3n + 2) {
    background-color: #c2f0c2; /* 2,5,8 */
}
 .sticky:nth-child(3n + 3) {
    background-color: #c168e3; /* 3,6,9 */
}



.sticky_note h2{
    text-align: center;
}

.button_delete{
    border: transparent;
    color: black;
    border-radius: 10px;
    padding: 0.4em;
    background: #8fe3d7;
    position: absolute;
    bottom: 5px;
    right: 5px;
}


.sticky_note p{
    text-align: center;
    font-size: 120%;
    font-family: "Times New Roman", Times, serif;
}

/*.conteiner_note {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.pagination {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 5px;
    flex-direction: row;
}

.pagination a {
    color: black;
    float: left;
    padding: 4px 10px;
    background: #8fe3d7;
    text-decoration: none;
}


/*error*/
.error_name {
    display: flex;
    /*justify-content: center;*/
    color: white;
}

.error {
    display: none;
    color: #ffffff;
}

.error.show {
    display: flex;
    /*justify-content: center;*/
}


@media screen and (max-width:660px) {


    .user_notes {
        display: grid;
        grid-template-columns: 50%;
        /*grid-template-rows: auto ;*/
        justify-content: space-around;
        gap: 20px;
    }


    /*.user_notes>*{*/
    /*    flex: 10%;*/
    /*}*/

    
}

@media screen and (max-width:500px) {
    .content_box {
        padding: 25px;
    }

    #main_page .content_box {
        width: auto;
    }

    .flex_container {
        flex-direction: column;
    }

    .signup_form {
        width: 100%;
    }

    .signup_picture {
        width: 100%;
        order: 0
    }


    .main h1  {
        text-align: center;
        font-size: 35px;
    }

    .main h2 {
        text-align: center;
        font-size: 25px;
    }

    .main_image {
        display: none;
    }


}